@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import 'https://unpkg.com/@a1rth/css-normalize@1.1.3/index.css';

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --transition-duration: 0.2s;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 100px 30px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-gray1);
}

li {
    margin: 10px;
}

.but {
    margin-inline: 10px;
}

.button {
    min-width: 100px;
    min-height: 20px;
    border-radius: 8px;
}

.todo__title {
    text-align: center;
}

.todo__form {
    display: flex;
    flex-direction: column;
}

.todo__field {
    margin-bottom: 15px;
}

.todo__heading,
.todo__body {
    margin: 10px;
}